.NavContainer {
  background-color: #f9f9ff;
  /* padding: 0 80px; */
}

.NavbarItems {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
  /* background-color: orange; */
}
.Navbar-logo {
  justify-content: start;
  /* margin-left: 20px; */
  cursor: pointer;
}
.fa-react {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  grid-gap: 20px;
  text-align: center;
}

.nav-links {
  text-decoration: none;
  color: #4f5665;
  font-family: Rubik;
  font-size: 1rem;
  border-radius: 1px;
}

/* .nav-links:hover{
     background-color:rgb(245, 245, 245);
      box-shadow: 0 12px 16px 0 rgba(58, 58, 58, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      cursor: pointer;

} */
.nav-links:hover {
  text-shadow: 0px 2px 8px #000000;
  cursor: pointer;
}

.btn-Sign-in {
  text-decoration: none;
  /* margin-left: auto; */
  color: black;
  font-weight: bold;
  font-family: Rubik;
  border-radius: 4px;
  border: none;
  background-color: rgb(250, 250, 250);
  transition-duration: 0.4s;
  font-size: 1rem;
}

.btn-Sign-up {
  text-decoration: none;
  /* margin-right: 50px;
    margin-left: 25px; */
  color: red;
  border: solid red;
  border-width: 0.1rem;
  border-radius: 10%;
  font-weight: bold;
  background-color: rgb(250, 250, 250);
  transition-duration: 0.4s;
  font-family: Rubik;
  font-size: 1rem;
  margin-left: 20px;
}
/* .btn-Sign-up:hover{
    background-color: aliceblue;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      cursor: pointer;
} */

.btn-Sign-in:hover,
.btn-Sign-up:hover {
  /* background-color: aliceblue; */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
  text-shadow: 0px 2px 8px #000000;
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 8rem;
  /* border: #4F5665 solid; */
}
.left-heading {
  /* border: #4F5665 solid; */
  display: flex;
  margin-top: 2rem;
  justify-content: end;
}
.join-header {
  margin-top: 1rem;
}
